*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* this is navbar section */
nav{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    padding:34px 140px 34px 140px;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    height: 34px;
    width: 60px;
    margin-right: 16px;
}
.g-text{
    color: #FF42A5;
}
.logo h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.logo-text ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.logo-text ul li{
    margin-right: 50px;
}
.logo-text ul li a{
    text-decoration: none;
}
.nev-btn{
    height: 45px;
    width: 250px;
    border: none;
    border-radius: 7px;
    background-color: rgba(105, 120, 134, 0.383);
    margin-right: 150px;
    padding: 0px 20px;
}
/* this is banner section */
.banner{
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner-text{
    background-image: url(./images/Group\ 14.png);
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-top: 200px;
}
.banner-text h1{
    font-size: 3rem;
    font-weight: 600;
}
.banner p{
    margin: 15px 0;
}
.goat-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 800;
}
.banner-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.sing-in-btn{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    border: none;
    padding: 12px 50px;
    margin-right: 30px;
}
.go-rogue-btn{
    border-radius: 48px;
    background: #4EC5F7;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    border: none;
    padding: 12px 50px;
}
/* gamer section */
.gamer-section{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 150px;
}
.gamer-content{
    text-align: end;
    margin-top: 100px;
}
.gamer-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 600;
    margin: 10px 0;
}
.gamer-content p{
    color: #534C64;
    text-align: end;
}
.gamer-btn{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    border: none;
    padding: 12px 50px;
    margin:10px 0;
}
.gamer-content h4{
    color: #534C64;
    font-weight: 600;
}
.gamer-text{
    color: #534C64;
    font-size: 2rem;
    font-weight: 600;
}
/* video section */
.video-title{
    text-align: center;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
}
.Fun-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.video-title p{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.video-img{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    text-align: center;
    margin:0 100px;
    position: relative;

}
.video-img img{
    display: block;
}
.video-effect:hover{
    opacity: 1;
}
 /* play section*/
 .play-div-one{
    display: flex;
    margin:50px 0px;
    justify-content: space-evenly;
}
.play-content{
    padding-top: 200px;
}
.play-img-one{
    position: absolute;
}
.play-img-two{
    position: relative;
    left: -80px;
    top: 340px;
}
.play-color{
    color: #F948B2;
}
.play-div-one h1{
    font-size: 3rem;
    font-weight: 700;
} 
.games-section{
    margin-top: 350px;
}
.games{
    display: flex;
    width: 250px;
    align-items: center;
    margin: 15px 10px;
}
.games p{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 5px;
}
.gameone{
    display: flex;
    justify-content: center;
}
.gametwo div{
    margin: 20px 80px;
    width: 350px;
}
.gametwo{
    display: flex;
    justify-content: center;  
}
.games:hover{
    color: #FF42A5;
    border: 1px solid #FF42A5;
    border-radius: 50px;
}
/* footer section */
footer{
   background-color: #0B0223;
   height: 500px;
}
.footer-title{
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.footer-title h1{
    padding: 5px;
    font-size: 2.75rem;
    font-weight: 700;
}
.g-word{
    color: #FF42A5;
}
.stors ul{
   display:flex;
   align-items: center;
   justify-content: center;
   color: white;
   list-style: none;
}
.stors ul li{
    margin: 20px 40px;
}
.media ul{
    display: flex;
    justify-content: center;
}
.media li{
    margin: 20px 35px;
}
.secority ul{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    list-style: none;
}
.secority ul li{
    margin: 20px 40px;
}
.copyright{
    text-align: center;
    color: #534C64;
    padding: 30px 0;
    font-size: 0.75rem;
}
@media only screen and (max-width: 576px){
    nav{
        flex-direction: column;
        text-align:center;
 
    }
    .logo-text ul{
        flex-direction: column;
    }
    .logo-text ul li{
        margin: 10px 0;
    }
    .nev-btn{
        align-items: center;
        margin-right: 0;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        margin: 0px;
        align-items: center;
        padding: 30px 0px;
    }
    .banner-btn{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center; 
    }
    .banner-img img{
        width: 320px;
        height: 300px;
        margin: 10px;
    }
    .gamer-img img{
        width: 400px;
        height: 300px;
        margin: 0px;
        padding: 0;
    }
    .gamer-content{
        text-align: center;
        margin-top: 30px;
    }
    .gamer-content p{
        text-align: center;
    }
    .gamer-section{
        margin-top: 10px;
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    .video-section{
        margin-top: 80px;
    }
    .images{
        margin: 20px;
    }
    .video-img{
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }
    .play-div-one{
        flex-direction: column;
    }
    .play-content{
        text-align: center;
        padding-top: 20px;
    }
    .play-img img{
        width: 370px;
        height: 400px;
        margin: 10px;
    }
    .play-img-one{
        position: absolute;
    }
    .play-img-two{
        position: relative;
        left: -5px;
        top: 205px;
    }
    .pi-2 img{
        width: 180px;
        height:200px ;
    }
    .footer{
        height: 800px;
    }
    .footer-title{
        padding: 10px;
    }
   .stors ul{
    font-size:1rem ;
    font-weight: 500;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5px;
   }
   .stors ul li{
    margin: 15px;
   }
    .media ul{
        display:inline-flex;
        flex-wrap: wrap;
    }
    .secority ul{
        display:inline-flex;
        flex-wrap: wrap;    
    }
    .secority ul li{
        margin: 20px;
    }
    .copyright{
    }
    .games-section{
        display: inline-flex;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .gameone{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    .gametwo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .games img{
        width: 20px;
        height: 20px;
    }
    .games p{
        font-size: 0.75rem;
    }
    .games{
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: 120px;
        align-items: center;
    }
    .gametwo div{
        margin: 10px 0px;
        width: 120px;
    }
}